:root {
    --bkg-right: rgb(0, 153, 255);
    --bkg-left: #ffffff; /* Mudei para branco puro para igualar a imagem */
    --btn: rgb(0, 153, 255);
    --font-header-color: #2D2D2D;
    --font-h1: 'Fredoka', sans-serif;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Fredoka', sans-serif; /* Define a fonte padrão */
}

.contents {
    display: flex;
}

/* --- A MÁGICA DO FUNDO --- */
.background-curvo {
    width: 100%;
    min-height: 100vh; /* Garante altura total */
    
    /* SVG atualizado para a cor Ciano/Azul e formato de onda */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 800' preserveAspectRatio='none'%3E%3Cpath fill='%230099ff' fill-opacity='1' d='M600,0 C250,250 250,550 600,800 L1440,800 L1440,0 Z'%3E%3C/path%3E%3C/svg%3E");
    
    background-repeat: no-repeat;
    background-position: right center; 
    background-size: 65% 100%; /* Ocupa aprox 65% da largura, ancorado na direita */
    background-color: var(--bkg-left); /* O resto da tela fica branco */

    transition: background-position 0.8s ease-in-out;
}

.background-curvo.slide-transition {
    /* Move o fundo para a esquerda (invertendo o lado) */
    background-position: left center; 
    /* Opcional: se quiser que ele cubra a tela toda ao sair, use: background-size: 100% 100%; */
}

/* --- CABEÇALHO --- */
.cabecalho {
    display: flex;
    justify-content: space-between; /* Espalha logo e links */
    align-items: center;
    padding: 20px 80px;
    width: 100%;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.links a {
    color: var(--font-header-color);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;
}

.links a:hover {
    color: aqua;
}

/* --- ÁREA PRINCIPAL (LAYOUT) --- */
.artigo-inicial {
    width: 100%;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
}
.fade-out-content {
    opacity: 0;
}

.container {
    display: flex;
    width: 100%;
    padding: 0 80px;
    align-items: center; /* Alinha texto e imagem no centro vertical */
}

/* Coluna da Esquerda (Texto) */
.conteudo-group {
    width: 50%; /* Ocupa metade da tela */
    padding-right: 50px;
    margin-bottom: 200px;
}

/* Coluna da Direita (Imagem) */
.hero {
    width: 50%; /* Ocupa a outra metade */
    display: flex;
    justify-content: center;
}

.logo-marca {
    width: 100px;
    display: flex;
    justify-content: center;
}

.logo-marca img {
    max-width: 100%;
    height: auto;
    margin-left: 80px;
}

h1 {
    font-size: 3.5em;
    color: var(--font-header-color);
    line-height: 1.1;
    margin-bottom: 20px;
}

.description {
    font-size: 1.1em;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 90%;
    margin-top: 80px;
}

.hero img {
    max-width: 80%; /* Ajuste o tamanho da imagem */
    height: auto;
    /* Opcional: se a imagem for escura, isso ajuda a destacar no fundo azul, 
       mas se for PNG transparente, não precisa */
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.2)); 
}

.min-max {
    display: flex;
}

.btn-color1 {
    background-color: var(--btn);
    color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 70px;
    margin: 10px;
}

.btn-color2 {
    background-color:  rgb(54, 55, 55);
    color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 70px;
    margin: 10px;
}

.btn-color3 {
    background-color: rgb(246, 167, 9);
    color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 70px;
    margin: 10px;
}

/* --- BOTÕES --- */
.botoes {
    display: flex;
    gap: 15px;
    margin-top: 80px;
}

.btn-send {
    padding: 15px 35px;
    border-radius: 30px; 
    border: none;
    background-color: var(--btn);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.0em;
    text-decoration: none;
}

.btn-send:hover {
    background-color: rgb(255, 174, 0);
    border: 1px solid #2d2d2d94;
    color: #2D2D2D;
}

/* .btn-remove {
    margin-top: 15px;
    padding: 15px 150px;
    border-radius: 30px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.0em;
    text-decoration: none;
} */

/* =======================================
---------- PRODUCTS.HTML ----------------
=======================================*/
.estado-final-esquerda {
    /* Forçamos a posição para a esquerda */
    background-position: left center !important;

}

.animacao-entrada {
    animation: fadeUp 0.8s ease forwards;
    opacity: 0; /* Começa invisível */
    transform: translateY(20px); /* Começa um pouco para baixo */
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ----------- Formulários ---------*/


.formulario {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; 
    padding-top: 50px; /* Espaço do topo */
    width: 100%;
}

.container-forms {
    background-color: #ffffff;
    width: 100%;
    max-width: 450px; /* Tamanho máximo do cartão */
    padding: 40px;
    border-radius: 30px; /* Bordas bem arredondadas */
    box-shadow: 0 15px 35px rgba(0, 153, 255, 0.445); /* Sombra azulada suave */
    margin-bottom: 50px;
    transition: all 0.3s ease;
}

.container-forms:hover {
    border: 2px solid rgb(0, 153, 255);
    transform: scale(1.1);
}

.container-forms h2 {
    text-align: center;
    color: var(--btn);
    margin-bottom: 30px;
    font-size: 2rem;
}

/* Container do input para dar espaçamento */
.input-group {
    margin-bottom: 20px; 
    width: 100%;
}

/* Estilo das Labels (Nomes acima dos campos) */
.input-group label {
    display: block; /* Faz o label ficar em cima do input */
    margin-bottom: 8px;
    margin-left: 15px; /* Alinha com a curva do input */
    color: var(--font-header-color);
    font-weight: 700;
    font-size: 0.9rem;
}

/* Estilo do Campo de Texto */
.input-group input:not([type="file"]):not([type="submit"]) {
    width: 100%;
    padding: 15px 25px; 
    font-family: var(--font-h1);
    font-size: 1rem;
    color: #333333;
    background-color: #f4f9ff; /* Fundo levemente azulado */
    border: 2px solid #007bff90; 
    border-radius: 30px; 
    transition: all 0.3s ease;
    outline: none; 
}

.input-group input:not([type="file"]):hover {
    background-color: #4ccfe072;
}

/* Input de Arquivo (File) */
.input-group input[type="file"] {
    padding: 10px;
    width: 100%;
    font-family: var(--font-h1);
}

/* Quando o usuário clica no input (Foco) */
.input-group input:focus {
    border-color: var(--btn); 
    background-color: #fff; 
    box-shadow: 0 0 15px rgba(0, 153, 255, 0.408); 
}


/* Botão de Enviar dentro do form */
.input-group .btn-send {
    width: 100%; /* Botão ocupa toda a largura */
    margin-top: 10px;
    transition: transform 0.2s ease, background-color 0.3s;
}

.input-group .btn-send:active {
    transform: scale(0.98); /* Efeito de clique */
}
 /*====================
 ------ CADASTRO ------
 ====================== */

.register-groups,
#Lista-usuarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    z-index: 100;
    position: relative;
}



.container-groups {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 153, 255, 0.408);
    padding: 20px 40%;
}

/* =======================================
   ---------- GRID DE CARTÕES -----------
   ======================================= */

/* Removemos a estilização antiga de lista e container restrito */
.register-groups {
    width: 100%;
    padding: 0 5%; /* Margem lateral para não colar na borda */
    margin-bottom: 100px;
}

.container-groups {
    background: transparent; /* Removemos o fundo branco do container geral */
    box-shadow: none;        /* Removemos a sombra geral */
    padding: 0;
    width: 100%;
}

/* --- O GRID (A Grade que organiza) --- */
.grid-container {
    display: grid;
    /* Cria colunas automáticas: Mínimo 280px, Máximo o que der */
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); 
    gap: 40px; /* Espaço entre os cartões */
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.grids-container {
    display: grid;
    /* Cria colunas automáticas: Mínimo 280px, Máximo o que der */
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); 
    gap: 40px; /* Espaço entre os cartões */
    list-style: none;
    padding: 0;
    margin-top: 30px;
    width: 100%;
}


/* --- O CARTÃO  --- */
.user-card {
    background-color: white;
    border-radius: 35px; /* Bem arredondado como seu input */
    overflow: hidden;    /* Garante que nada saia das bordas redondas */
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 153, 255, 0.1); /* Sombra azul suave */
    transition: all 0.3s ease; /* Animação suave */
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 153, 255, 0.1);
}

.product-card {
    background-color: white;
    border-radius: 35px; /* Bem arredondado como seu input */
    overflow: hidden;    /* Garante que nada saia das bordas redondas */
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 153, 255, 0.1); /* Sombra azul suave */
    transition: all 0.3s ease; /* Animação suave */
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 153, 255, 0.1);
}

/* Efeito ao passar o mouse (Hover) */
.user-card:hover {
    transform: translateY(-10px); /* Sobe um pouco */
    box-shadow: 0 20px 40px rgba(0, 153, 255, 0.25); /* Sombra aumenta */
    border-color: var(--btn);
}

/* --- HEADER DECORATIVO --- */
.card-header-bg {
    height: 80px;
    background: linear-gradient(135deg, var(--btn), #00c6ff);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* --- CONTEÚDO --- */
.card-content {
    padding: 20px 25px 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1; /* Fica acima do fundo azul */
    margin-top: 20px; /* Espaço para a foto subir */
}

/* --- FOTO --- */
.avatar-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 4px;
    background: white; /* Borda branca entre a foto e o fundo */
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.card-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.avatares-wrapper {
    width: 270px;
    height: 270px;
    border-radius: 15%;
    padding: 4px;
    background: white; /* Borda branca entre a foto e o fundo */
    box-shadow: 0 5px 15px rgba(9, 123, 180, 0.427);
    margin-bottom: 15px;
}

.card-avatares {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* --- TEXTOS --- */
.card-name {
    margin: 10px 0 5px 0;
    font-size: 1.4rem;
    color: var(--font-header-color);
    font-weight: 800;
}

.card-title {
    margin: 10px 0 5px 0;
    font-size: 1.0rem;
    color: var(--font-header-color);
    font-weight: 800;

}

.card-description {
    margin: 10px 0 5px 0;
    font-size: 0.9rem;
    color: #666;
}


.card-email,
.card-category {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 20px;
    word-break: break-all;
}

/* --- BADGES (Idade e ID) --- */
.card-badges {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.badge-age {
    background-color: #e6f4ff;
    color: var(--btn);
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.85rem;
}

.category {
    background-color: #e6f4ff;
    color: var(--btn);
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.85rem;

}

.badge-value {
    background-color: #e6f4ff;
    color: var(--btn);
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.85rem;
    
}

.badge-id {
    background-color: #f5f5f5;
    color: #888;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.85rem;
}


/* --- BOTÃO DELETAR --- */
.btn-delete-card {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background-color: #ffeff0; /* Fundo vermelho bem clarinho */
    color: #ff4d4d; /* Texto vermelho */
    font-weight: bold;
    font-family: var(--font-h1);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-delete-card:hover {
    background-color: #ff4d4d;
    color: white;
    box-shadow: 0 5px 15px rgba(255, 77, 77, 0.3);
}

/* ============================================
------------------- MEDIA QUERIES --------------- 
===============================================*/

@media screen and (max-width: 900px00) {
    .background-curvo {
        background-position: bottom center;
        background-size: 100% 200px;
    }
    
    .cabecalho {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .links ul {
        padding: 0;
        flex-wrap:  wrap;
        justify-content: center;
        gap: 20px;
    }

    .container {
        flex-direction: column-reverse;
        padding: 0 20px;
        text-align: center;
    }

    .conteudo-group {
        width: 100%;
        padding-right: 0;
        margin-bottom: 50px;
    }

    .hero {
        width: 100%;
        margin-bottom: 40px;
    }

    .logo-marca img {
        margin-left: 0;
        max-width: 200px;
    }

    h1 {
        font-size: 2.5em;
        margin-top: 20px;
    }

    .description {
        margin-top: 20px;
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    .botoes {
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .btn-send {
        width: 100%;
        display: block;
        text-align: center;
    }

    .formulario {
        padding: 20px;
    }

    .container-form {
        padding: 25px;
    }

    .register-groups {
        padding: 0 15px;
    }

    .grid-container, .grids-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}